<div class="row" ng-show="cv.informations.certifications">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
        <h3><i class="fa fa-trophy text-grey-color"></i> Certifications</h3>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <h3 class="text-right">
            <a class="" href ng-click="certificationsCtrl.show()"><i class="fa fa-angle-down" ng-hide="certificationsCtrl.toggle"></i></a>
            <a class="" href ng-click="certificationsCtrl.hide()"><i class="fa fa-angle-up" ng-show="certificationsCtrl.toggle"></i></a>
        </h3>
    </div>
    <div class="row"  ng-show="!certificationsCtrl.toggle">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="bs-callout bs-callout-warning" ng-repeat="cert in cv.informations.certifications">
                <span>
                    <strong><a href="{{cert.url}}" target="_blank">{{cert.name}}</a>
                    </strong>
                </span>by
                <span class="text-grey-color">{{cert.issuer}}</span>
            </div>
        </div>
    </div>
</div>