<div class="row" ng-show="cv.informations.languages">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
        <h3><i class="fa fa-globe text-grey-color"></i> Languages</h3>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <h3 class="text-right">
            <a class="" href ng-click="languagesCtrl.show()"><i class="fa fa-angle-down" ng-hide="languagesCtrl.toggle"></i></a>
            <a class="" href ng-click="languagesCtrl.hide()"><i class="fa fa-angle-up" ng-show="languagesCtrl.toggle"></i></a>
        </h3>
    </div>
    <div class="row" ng-repeat="lang in cv.informations.languages" ng-show="!languagesCtrl.toggle">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <i class="fa fa-angle-right"></i> {{lang.language}}
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <span class="label label-success" ng-if="lang.level == 5">Native</span>
            <span class="label label-primary" ng-if="lang.level == 4">Full professional working proficiency</span>
            <span class="label label-info" ng-if="lang.level == 3">Professional working proficiency</span>
            <span class="label label-warning" ng-if="lang.level == 2">Limited working proficiency</span>
            <span class="label label-danger" ng-if="lang.level == 1">Elementary proficiency</span>
        </div>
    </div>
</div>