<div class="row" ng-show="cv.informations.skills">
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11">
        <h3><i class="fa fa-gears text-grey-color"></i> Skills</h3>
    </div>
    <div class="col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <h3 class="text-right">
            <a class="" href ng-click="skillsCtrl.show()"><i class="fa fa-angle-down" ng-hide="skillsCtrl.toggle"></i></a>
            <a class="" href ng-click="skillsCtrl.hide()"><i class="fa fa-angle-up" ng-show="skillsCtrl.toggle"></i></a>
        </h3>
    </div>
    <div class="row" ng-repeat="skill in cv.informations.skills" ng-show="!skillsCtrl.toggle">
        <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
            <i class="fa fa-angle-right"></i> {{skill.name}}
        </div>
        <div class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
            <div class="progress">
                <div class="progress-bar" role="progressbar" aria-valuenow="{{skill.level * 10}}" aria-valuemin="0" aria-valuemax="100" style="width: {{skill.level * 10}}%;">
                    {{skill.level * 10}}%
                </div>
            </div>
        </div>
    </div>
</div>